.th-data {
    width: 170px;
}

.th-destino {
    width: 150px;
}

.th-contrato {
    width: 120px;
}

.th-nome {
    width: 500px;
}

.th-ramal {
    width: 80px;
}

.th-gravacao {
    width: 100px;
}