.th-acao {
    width: 60px;
}

.th-status {
    width: 130px;
}

.th-ativacao {
    width: 120px;
}

.th-cancelamento {
    width: 150px;
}

.th-valor {
    width: 150px;
}

.td-valor {
    font-weight: 700;
}

.td-devedor {
    color: #B91C1C !important;
}

.th-nome {
    width: 450px;
}

.th-doc {
    width: 170px;
}

.th-produto {
    width: 300px;
}