{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
Perfil
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container-page">

<div class="row g-4">

    <div class="col-12">
        <h5 class="section-title mb-2">Visão Geral</h5>
    </div>

    <div class="col-md-3">
        <div class="card card-custom p-4 shadow-sm">
            <div class="card-title"><i class="bi bi-file-earmark-text me-2"></i> Total de Leads</div>
            <div class="card-value">{{ total_leads }}</div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-custom p-4 shadow-sm">
            <div class="card-title"><i class="bi bi-x-circle-fill me-2 text-danger"></i>Leads Pendentes</div>
            <div class="card-value text-danger">{{ leads_pendentes }}</div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-custom p-4 shadow-sm">
            <div class="card-title"><i class="bi bi-check-circle-fill me-2 text-success"></i> Leads Resolvidos</div>
            <div class="card-value text-success">{{ leads_resolvidos }}</div>
        </div>
    </div>


</div>
{% endblock %}