{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
Vendas
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/lista_vendas.css' %}">
{% endblock %}

{% block content %}
<section class="container-page">
    <div class="d-flex flex-column mb-3">
        <h4 class="mb-1">
            Gerenciamento de vendas
        </h4>

        <nav class="breadcrumb-custom" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'core:dashboard_admin' %}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gerenciamento de vendas</li>
            </ol>
        </nav>
    </div>

    <!-- Cards -->
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <h5>Total</h5>
                    <h3>{{ total }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm text-center border-success">
                <div class="card-body">
                    <h5>Saudáveis</h5>
                    <h3 class="text-success">{{ saudaveis }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm text-center border-warning">
                <div class="card-body">
                    <h5>Em risco</h5>
                    <h3 class="text-warning">{{ risco }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm text-center border-danger">
                <div class="card-body">
                    <h5>Crítico</h5>
                    <h3 class="text-danger">{{ critico }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="div-tabela-lista">
        <table class="table table-bordered tabela-lista">
            <thead>
                <tr>
                    <th class="text-center th-contrato">Nº Contrato</th>
                    <th>Cliente</th>
                    <th>Vendedor</th>
                    <th class="text-center th-situacao-contrato">Situação do contrato</th>
                    <!-- <th class="text-center">Primeiras Faturas</th> -->
                </tr>
            </thead>
            <tbody>
                {% for v in vendas_formatadas %}
                <tr>
                    <td class="text-center">
                        <a href="{% url 'core:detalhes_venda' v.contrato %}">
                            {{ v.contrato }}
                        </a>
                    </td>
                    <td>{{ v.cliente }}</td>
                    <td>{{ v.vendedor }}</td>

                    <td class="text-center">
                        {% if v.status == "OK" %}
                            <span class="badge bg-success">Ok</span>
                        {% elif v.status == "RISCO" %}
                            <span class="badge bg-warning text-dark">Atenção</span>
                        {% else %}
                            <span class="badge bg-danger">Crítico</span>
                        {% endif %}
                    </td>

                    <!-- <td class="text-center">
                        {% for f in v.faturas %}
                            {% if f.pago %}
                                <span class="badge bg-success">
                                    <i class="bi bi-check-lg"></i>
                                </span>
                            {% else %}
                                <span class="badge bg-secondary">
                                    <i class="bi bi-exclamation-lg"></i>
                                </span>
                            {% endif %}
                        {% endfor %}
                    </td> -->
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Nenhuma venda encontrada</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Tabela -->
    
</section>
{% endblock %}

