{% extends 'base.html' %}
{% load static %}

{% block title %}
Contratos
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/lista_contratos.css' %}">
{% endblock %}

{% block content %}
<div class="container-page">
<div id="filtros-contratos" class="inputs-header mb-3">
    <div class="input-group input-group-status">
        <select 
            name="status" 
            hx-get=""
            hx-trigger="change"
            hx-target="#tabela-contratos"
            hx-include="#filtros-contratos"
            class="form-control form-select"
        >
            <option value="">Status do contrato</option>
            <option value="ATIVO">Ativo</option>
            <option value="CANCELADO">Cancelado</option>
            <option value="PORTADO">Portado</option>
            <option value="SUSPENSÃO PARCIAL">Suspensão Parcial</option>
        </select>
    </div>
    <div class="input-search-group">
        <input
            name="search"
            type="text" 
            placeholder="Digite..."
            hx-get="{% url 'core:lista_contratos' %}"
            hx-trigger="keyup changed delay:400ms"
            hx-target="#tabela-contratos"
            hx-include="#filtros-contratos"
            class="form-control input-search"
        >
    </div>
    <div>
        <select 
            name="campo"
            hx-get="{% url 'core:lista_contratos' %}"
            hx-trigger="change"
            hx-target="#tabela-contratos"
            hx-include="#filtros-contratos"
            class="form-select"
        >
            <option value="">Filtrar</option>
            <option value="CID">CID</option>
            <option value="Valor">Valor</option>
            <option value="Cidade">Cidade</option>
        </select>
    </div>

    
</div>
<div class="div-tabela table-responsive">
    {% include 'partials/contratos.html' %}

    <!-- PAGINAÇÃO -->
    <nav aria-label="Paginação de contratos" class="mt-4">
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        Anterior
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">Anterior</span>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <span class="page-link">
                            {{ num }}
                        </span>
                    </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">
                            {{ num }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        Próxima
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                        &raquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Próxima</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}

        </ul>
    </nav>
</div>

</div>

{% endblock %}