{% extends 'base.html' %}
{% load static %}

{% block title %}
Leads
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/leads_endereco.css' %}">
{% endblock %}

{% block content %}
<section class="container-page">
    <div class="lista-vendedores">
        <h3>Vendedores</h3>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>E-mail</th>
                    <th>Status</th>
                    <th>Leads</th>
                </tr>
            </thead>

            <tbody>
                {% for v in vendedores %}
                <tr>
                    <td>{{ v.usuario.username }}</td>
                    <td>{{ v.usuario.email }}</td>
                    <td>{{ v.get_status_display }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>


<!-- <h2>Cadastro de Vendedor</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Cadastrar</button>
</form>

<hr>

<h2>Lista de Vendedores</h2>

<ul>
    {% for vendedor in vendedores %}
        <li>{{ vendedor.username }} - {{ vendedor.email }}</li>
    {% empty %}
        <li>Nenhum vendedor cadastrado.</li>
    {% endfor %}
</ul> -->

{% endblock %}



