{% load static %}
{% load filters %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}


<aside id="sidebar" class="expand">
    <div class="d-flex justify-content-between p-4">
        <button class="toggle-btn border-0" type="button">
            <i id="icon" class="bi bi-chevron-double-left"></i>
        </button>
    </div>

    <ul class="sidebar-nav">
        {% if request.user|has_group:"Vendedor" %}
        <li class="sidebar-item">
            <a href="{% url 'core:dashboard_vendedor' %}" class="sidebar-link" title="Dashboard">
                <i class="bi bi-speedometer2 me-2"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="{% url 'core:lista_leads_vendedor' %}" class="sidebar-link">
                <i class="bi bi-info-circle"></i>
                <span>Meus Leads</span>
            </a>
        </li>
        {% endif %}

        {% if request.user|has_group:"Admin" %}
            <li class="sidebar-item">
                <a href="{% url 'core:dashboard_admin' %}" class="sidebar-link" title="Dashboard">
                    <i class="bi bi-speedometer2 me-2"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'core:lista_leads' %}" class="sidebar-link" title="Todos os leads">
                    <i class="bi bi-file-earmark-text me-2"></i>
                    <span>Ver Todos os Leads</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'core:lista_vendedores' %}" class="sidebar-link" title="Vendedores">
                    <i class="bi bi-people"></i>
                    <span>Vendedores</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{% url 'core:gerenciamento_vendas' %}" class="sidebar-link" title="Gerenciamento de Vendas">
                    <i class="bi bi-table"></i>
                    <span>Gerenciamento Vendas</span>
                </a>
            </li>
        {% endif %}

        <li class="item-logout sidebar-item">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="sidebar-link" title="Sair">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Sair</span>
                </button>
            </form>
        </li>
    </ul>
</aside>

<script src="{% static 'js/sidebar.js' %}"></script>