{% load static %}
{% load filters %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}


<aside id="sidebar" class="expand">
    <div class="d-flex justify-content-between p-4">
        <button class="toggle-btn border-0" type="button">
            <i id="icon" class="bi bi-chevron-double-left"></i>
        </button>
    </div>

    <ul class="sidebar-nav">
        {% if request.user|has_group:"Vendedor" %}
        <li class="sidebar-item">
            <a href="{% url 'contratos:dashboard_vendedor' %}" class="sidebar-link" title="Dashboard">
                <i class="bi bi-speedometer2 me-2"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="{% url 'core:lista_leads_vendedor' %}" class="sidebar-link">
                <i class="bi bi-info-circle"></i>
                <span>Meus Leads</span>
            </a>
        </li>
        {% endif %}

        {% if request.user|has_group:"Admin" %}
            <li class="sidebar-item">
                <a href="{% url 'contratos:dashboard_admin' %}" class="sidebar-link" title="Dashboard">
                    <i class="bi bi-speedometer2 me-2"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#cadastro" aria-expanded="false" aria-controls="cadastro" title="Cadastros">
                    <i class="bi bi-file-earmark-text me-2"></i>
                    <span>Contratos</span>
                </a>
                <ul id="cadastro" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'contratos:lista_contratos' %}" class="sidebar-link">Ver Todos os Contratos</a> 
                    </li>
                    
                    <li class="sidebar-item">
                        <a href="{% url 'contratos:lista_arruamento' %}" class="sidebar-link">Ver Contratos por Endereços</a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'core:lista_vendedores' %}" class="sidebar-link" title="Vendedores">
                    <i class="bi bi-people"></i>
                    <span>Vendedores</span>
                </a>
            </li>
        {% endif %}
    </ul>
</aside>

<script src="{% static 'js/sidebar.js' %}"></script>

<!-- <nav class="col-md-3 col-lg-2 d-md-block sidebar p-3">
    <h5 class="text-white mb-4">ContratosPro</h5>

    <ul class="nav flex-column">
        <a class="nav-link {% if request.resolver_match.url_name == 'dashboard_admin' %}active{% endif %}" href="{% url 'contratos:dashboard_admin' %}">
            <i class="bi bi-speedometer2 me-2"></i>
            Dashboard
        </a>

        <a class="nav-link {% if request.resolver_match.url_name == 'lista_contratos' %}active{% endif %}" href="{% url 'contratos:lista_contratos' %}">
            <i class="bi bi-file-earmark-text me-2"></i>
            Contratos
        </a>

        <a class="nav-link" href="{% url 'contratos:lista_arruamento' %}">Arruamentos</a>

        <a class="nav-link" href="">
            <i class="bi bi-people me-2"></i> Clientes
        </a>

    </ul>
</nav> -->