{% extends 'base.html' %}
{% load static %}

{% block title %}
Leads
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/leads_endereco.css' %}">
{% endblock %}

{% block content %}
{% endblock %}







{% if cidade and bairro %}

<h3>{{ bairro }} - {{ cidade }}</h3>

<div class="row">
    <div class="col">
        <div class="card">
            <h5>Total Endereços</h5>
            <p>{{ total_enderecos }}</p>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <h5>Total Contratos</h5>
            <p>{{ total_contratos }}</p>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <h5>Leads Livres</h5>
            <p>{{ total_livres }}</p>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <h5>Penetração</h5>
            <p>{{ penetracao }}%</p>
        </div>
    </div>
</div>

<a href="{% url 'contratos:leads_bairro' %}?cidade={{ cidade }}&bairro={{ bairro }}">
    Ver Leads do Bairro
</a>

{% else %}
<p>Selecione cidade e bairro para visualizar os dados.</p>
{% endif %}