{% extends 'base.html' %}
{% load static %}

{% block title %}
Leads
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/leads_endereco.css' %}">
{% endblock %}

{% block content %}
<div class="container-page">
<h4>Contratos - {{ cidade }} / {{ bairro }}</h4>

<form method="get" class="mb-3 d-flex gap-2">
    <input type="hidden" name="cidade" value="{{ cidade }}">
    <input type="hidden" name="bairro" value="{{ bairro }}">

    <select name="rua" class="form-select" onchange="this.form.submit()">
        <option value="">Todas as ruas</option>
        {% for r in ruas %}
            <option value="{{ r }}"
                {% if request.GET.rua == r %}selected{% endif %}>
                {{ r }}
            </option>
        {% endfor %}
    </select>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Status</th>
            <th class="text-center">Data de ativação</th>
            <th class="text-center">Data de cancelamento</th>
            <th>Valor</th>
            <th>Devedor</th>
            <th>Nome</th>
            <th>CPF/CNPJ</th>
            <th>Produto</th>
        </tr>
    </thead>
    <tbody>
        {% for c in contratos %}
        <tr>
            <td class="text-center">
                <span class="badge {{ c.status_badge_class }}">{{ c.status }}</span>
            </td>
            <td class="text-center">{{ c.ativacao|date:"d/m/Y" }}</td>
            <td class="text-center">{{ c.cancelamento|date:"d/m/Y" }}</td>
            <td class="text-center">R${{ c.valor }}</td>
            <td class="text-center">R${{ c.devedor }}</td>
            <td>{{ c.nome }}</td>
            <td>{{ c.doc }}</td>
            <td>{{ c.produto }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" class="text-center">
                Nenhum contrato encontrado.
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
